*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'poppins';
    user-select: none;
}
@font-face {
    font-family: 'poppins';
    src: url();
}

.back{
    background-color: black;
    border: none;
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
    margin-bottom: 10%;
}
hr{
    width: 100%;
    height: 5px;
    margin-top: 10%;
    background-color: black;
}
#home{
    margin-top: 20px;
}
#home , #owner , #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    position: relative;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    margin-bottom: 10px;
}

.name{
    color: blue;
    font-size: 23px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.class , .sec  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
 .con{
    font-size: 17px;
 }
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
}
.butterfly{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cate1 , .cate2 , .cate3{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

#line{
    height: 3px;
}

.back-last{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    z-index: 1000;
    margin-left: 40%;
    margin-top: 50px;
    height: 40px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: black;
    margin-bottom: 50px;
}

h1{
    color: purple;
}
.header-veg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-x{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-x{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(42, 42, 42);
}

ul{
    display: block;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 10px;
}

.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

#space{
    margin-top: 20px;
}

.main-y{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

#or{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-size: 25px;
    color: rgb(8, 149, 8);
}